body {
   background-color: hsl(30, 54%, 90%);
   font-size: 16px;
}



.header{
    background-color: white;
    height: 100%;
    width: 50%;
    position: relative;
    justify-self: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: outfit;
    font-weight: 500;
}




.image-omelette{
    width: 100%;
    height: 300px ;
    position: relative;
    border-radius: 10px;
    margin-top: -5px;
    margin-left: -px;
}

.heading{
    font-size: 40px;
    font-family: young serif;
    margin-top: 25px;
    margin-bottom: 15px;
}

.description{
    color: rgb(99, 95, 95);
    margin-top: 0;
}

.preparation-time{
    height: 150px;
    padding-top: 100px;
    font-family: outfit;
    font-weight: 500;
    width: 100%;
    
}

.preparation{
    position: relative;
    left: 20px;
    color: hsl(332, 51%, 32%);
    margin-bottom: 0px;
}

.total,
.preparation-timing,
.cooking{
    padding-left: 20px;
    font-weight: 500;
    color: rgb(49, 47, 47);
    line-height: 30px;
}

.preparation-time ul{
   color:  rgb(99, 95, 95);
   padding: 0px;
   padding-left: 30px;
}

.qualification{
   background-color: hsl(30, 54%, 90%);
   padding-bottom: 10px;
   padding-top: 10px;
   border-radius: 10px;
}

.ingredient{
     color: hsl(14, 45%, 36%);
     font-size: 25px;
     font-family: young serif;
}

.component{
    padding-left: 10px;
}

.component span{
    padding-left: 20px;
    color:  rgb(99, 95, 95);
     line-height: 30px;
}

.instruction{
        color: hsl(14, 45%, 36%);
     font-size: 25px;
     font-family: young serif;
}

.instruction-menu{
    padding-left: 25px;
    color:  rgb(99, 95, 95);
}

.instruction-menu li{
   color: hsl(14, 45%, 36%);
}

.title{
    color: rgb(66, 64, 64);
    font-weight: 700;
}

.content{
    color:  rgb(99, 95, 95);
}

.instruction-menu p{
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.ingrdient-values{
    color:  rgb(99, 95, 95);
    margin: 0;
    margin-bottom: 10px;
    padding-left: 25px;
}

.nutrition-description{
     color:  rgb(99, 95, 95);
}

.nutrition{
    color: hsl(14, 45%, 36%);
    font-size: 25px ;
    font-family: young serif;
    font-size: 700;
}

.value-1{
    padding-left: 260px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-2{
    padding-left: 275px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-3{
    padding-left: 265px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-4{
    padding-left: 290px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

@media  (max-width: 768px) {
    body{
        font-size: 18px;
    }
    
    .header{
        width: 50%;
        padding: 25px;
        
    }

    .image-omelette{
        width: 100%;
        height: 190px;
        margin-bottom: 15px;
    }

    .heading{
        font-size: 25px;
        width: 100%;
        margin-top: 0;
    }

.preparation{
    position: relative;
    left: 20px;
    color: hsl(332, 51%, 32%);
    margin-bottom: 0px;
    font-size: 25px;
}

.total,
.preparation-timing,
.cooking{
    font-weight: 500;
    color: rgb(49, 47, 47);
    line-height: 30px;
}

.preparation-time ul{
   color:  rgb(99, 95, 95);
   padding: 0px;
   padding-left: 30px;
  margin-top: 0;
}

.ingredient,
.instruction,
.nutrition{
        font-size: 25px;
}

.value-1{
    padding-left: 160px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-2{
    padding-left: 180px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-3{
    padding-left: 170px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-4{
    padding-left: 200px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
}


@media  (min-width: 320px) and (max-width: 425px) {
    body{
        font-size: 12px;
    }
    
    .header{
        width: 50%;
        padding: 12px;
        
    }

    .image-omelette{
        width: 100%;
        height: 110px;
        margin-bottom: 12px;
    }

    .heading{
        font-size: 15px;
        width: 100%;
        margin-top: 0;
    }

    .preparation{
        position: relative;
        left: 15px;
        color: hsl(332, 51%, 32%);
        margin-bottom: 0px;
        font-size: 13px;
    }

.total,
.preparation-timing,
.cooking{
    font-weight: 500;
    color: rgb(49, 47, 47);
    line-height: 20px;
    padding: 0;
}

.preparation-ul{
   color:  rgb(99, 95, 95);
   padding-left: 28px;
}

.ingredient,
.instruction,
.nutrition{
        font-size: 13px;
}

.component{
    padding-left: 20px;
    padding-right: 0;
}

.component span{
   padding-left: 0;
    color:  rgb(99, 95, 95);
     line-height: 25px;
}

.instruction-menu {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
}

.instruction-menu p{
    padding-left: 0;
}

.value-1{
    padding-left: 60px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-2{
    padding-left: 80px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-3{
    padding-left: 70px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.value-4{
    padding-left: 90px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.ingrdient-values{
    color:  rgb(99, 95, 95);
    margin: 0;
    margin-bottom: 10px;
    padding-left: 0px;
}

}


